
<nav>
    
   
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	
	 
	 <div>
	 <a href="/"><img src="/images/logo.jpg"></a>
	 </div>
	
	

		
		<a href="/about/">About</a>
	
	

		
		<a href="/articles/">Articles</a>
	
	

		
		<a href="/contact/">Contact</a>
	 
<!-- Old Nav code	 
	{% for link in site.data.navigation %}
	{% assign class = "" %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
	{% endfor %}
	
-->
</nav>
